.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

html,
.right_col {
    background: #f2f3f8;
}

body,
.breadcrumb {
    background-color: #f2f3f8;
    margin-bottom: 0px;
}

.hide {
    display: none;
}

.main_container {
    margin-top: 0px;
    display: inline-block;
    width: 100%;
    padding: 10px;
}

.dropdown-toggle::after {
    content: none;
}

.nav-tabs .nav-link.active {
    background: #0034ffa6;
    color: white;
}

.help-block {
    display: none;
}

.nav-pills .nav-item {
    font-size: 1.3rem;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: red;
    background: url('/webroot/gentelella/images/oval.svg') center no-repeat #fff;
}

#toTop {
    cursor: pointer;
    background: #7e7e7e9e;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: -50px;
    z-index: 99 !important;
    text-align: center;
    border-radius: 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    font-size: 1.3rem;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #848484;
}

#toTop.show {
    right: -1px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

#toTop.hide {
    right: -50px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

#sidebar-menu i {
    margin-left: 10px;
    font-size: 30px;
    height: 30px;
    vertical-align: middle;
}



.jconfirm.jconfirm-supervan .jconfirm-bg {
    background-color: rgba(93, 93, 93, 0.73) !important;
}

.navtop-utils i:hover {
    opacity: .5;
}

.navtop-utils .fa {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}


.menu_close {
    display: flex;
}

.page_title_menu_open {
    margin-left: 13%;
    font-size: 25px;
}

.menu_button:hover {
    background: #D9DEE4;
}

.menu_button {
    position: absolute;
    bottom: -5px;
    font-size: 18px;
    padding-left: 20px;
    background: #172D44;
    width: 70px;
    height: 40px;
    padding-top: 8px;
    cursor: pointer;
}

.nav_menu {
    font-size: 1.4rem !important;
    background-color: #dbdbdb80;
    float: left;
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 45px;
}


.btn-checkbox-checked {
    color: #FFF !important;
    background-color: #18b16f !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    opacity: unset !important;
    transform: unset !important;
}

.btn,
.custom-file-control::before {
    text-transform: unset;
}

.custom-file-control:disabled,
.form-control:disabled,
.form-control[readonly],
[readonly].custom-file-control {
    cursor: not-allowed;
}

.form-group .btn-group,
.btn-group-vertical {
    margin: unset !important;
    display: block !important;
}

.bmd-form-group .btn-group .btn {
    /* font-size: .66rem; */
    font-weight: bold;
}

.btn .btn-default {
    background: white;
}

.fa-disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

a {
    color: #5A738E;
}


body {
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

/* #ANCHOR BASIC COLOR */
.blue {
    color: #3498DB;
}

.purple {
    color: #9B59B6;
}

.green {
    color: #1ABB9C;
}

.aero {
    color: #9CC2CB;
}

.red {
    color: #E74C3C;
}

.dark {
    color: #34495E;
}

.dropdown-menu {
    border: medium none;
    box-shadow: none;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 9998;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: max-content;
}
