.menu-items{
    font-size: 0.8rem;
}

/* Toggle Styles */

 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 250px;
    /* overflow: scroll; */
}

#sidebar-footer{
    z-index: 1000;
    /* position: absolute; */
    position: fixed;
    left: 250px;
    width: 0 !important;
    height: 100%;
    margin-left: -250px;
    /* overflow-y: auto; */
    overflow:hidden;
    background: #2A3F54;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    bottom: 0px;
  }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top: 40px !important;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow:hidden;
    background: #2A3F54;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
    -webkit-box-shadow: 0px 2px 9px -1px #000000; 
    box-shadow: 0px 2px 9px -1px #000000;
}
.sidebar-open{
    width: 250px;
}

#wrapper.toggled #sidebar-footer {  
    width: 250px !important;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px !important;
}


#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    left: -20px;
    width: 350px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
    width: 100%;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    /* color: #999999; */
    color:#e0e0e0;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}

@media(max-width:768px) {
    #sidebar-wrapper {
        top: 30px;
    }
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 350px;
    }
    .fixed-brand{
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 350px;
        font-size: 1.16rem !important;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }
    #sidebar-footer{
        width: 250px;
    }

    #wrapper.toggled #sidebar-footer {
        /* width: 350px; */
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;

    }
}