<?php
$file = '';
if($this->plugin){
    $file = ROOT . DS . 'plugins'.DS.$this->plugin.DS.'src' . DS . 'Template' . DS . 'Element' . DS . 'aside-main-sidebar.ctp';
}
if(!file_exists($file)){
    $file = ROOT . DS . 'src' . DS . 'Template' . DS . 'Element' . DS . 'aside-main-sidebar.ctp';
}

if (file_exists($file)) {
    ob_start();
    include_once $file;
    echo ob_get_clean();
} else {
?>
  <div class="col-md-3 left_col menu_fixed">
    <div class="left_col scroll-view">
      <div class="navbar nav_title" style="border: 0;">
        <a href="<?= $this->Url->build('/')?>">
          <i class="site_title fas fa-home"></i>
        </a>
      </div>

      <div class="clearfix"></div>

      <!-- Sidebar user panel -->
      <?php echo $this->element('aside/user-panel'); ?>

      <br />
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <?php echo $this->element('aside/sidebar-menu'); ?>
    </div>
  </div>
<?php } ?>
