<div class="navbar-breadcrumb">
  <div id="menu-toggle" class="navbar-toggle collapsed pointer"><i class="fas fa-bars"></i></div>
  <?= $this->Breadcrumbs->render(['class' => 'breadcrumb'],['separator' => '&nbsp;/&nbsp;']);?>
</div>