#menu{
  font-size: 1.3rem;
}
.svg-inline--fa{
  margin: 0 20px 0 5px;
  font-size: 22px;
  width: 12px;
  text-align: center;
}
.custom-file-control, .form-control, input::placeholder, label{
  line-height: revert;
}
.menu_icon{
  width: 30px !important;
  display: inline flow-root list-item;
}

.mm-menu_iconbar-left .mm-iconbar{
  z-index: 90;
}

.menu-pin{
  position: absolute;
  right: 10px;
}

#menu .fas,#menu .fab{
  min-width: 30px;
}